[submodule "gitcpplibs/sagar-cpp"]
	path = gitcpplibs/sagar-cpp
	url = https://github.com/Sagar-022/c_plus_plus.git
[submodule "gitcpplibs/cpp-primer"]
	path = gitcpplibs/cpp-primer
	url = https://github.com/Mooophy/Cpp-Primer.git
[submodule "include/boost"]
	path = include/boost
	url = https://github.com/abhi3700/boost
[submodule "gitcpplibs/leet-code"]
	path = gitcpplibs/leet-code
	url = https://github.com/wj-zhu/leet-code.git
[submodule "gitcpplibs/boost-py-eg"]
	path = gitcpplibs/boost-py-eg
	url = https://github.com/TNG/boost-python-examples.git
[submodule "gitcpplibs/cpp-patterns-wj"]
	path = gitcpplibs/cpp-patterns-wj
	url = https://github.com/wj-zhu/cpp-patterns.git
[submodule "gitcpplibs/denismatveev-exercises"]
	path = gitcpplibs/denismatveev-exercises
	url = https://github.com/denismatveev/exercises.git
